src/main/resources/wsdl/OpprettSak.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://nav.no/infotrygd/sb/opprettSak/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="OpprettSak" targetNamespace="http://nav.no/infotrygd/sb/opprettSak/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://nav.no/infotrygd/sb/opprettSak/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="OpprettSak">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="personnummer" minOccurs="1"
                                     maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Fødselsnummer, 11 sifre
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">

                                    <xsd:length value="11"></xsd:length>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="stonadsklassifisering1"
                                     type="xsd:string" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Rutine. Eks.: KS
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="stonadsklassifisering2"
                                     type="xsd:string" minOccurs="0" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Eks. klage, anke, søknad
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="mottattDato" type="xsd:date" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Dato saken er mottatt av Nav
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="regNavEnhetId" type="xsd:string" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Nav orgnr. for den som registerer saken, f.eks
                                    0412
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="regNavBrukerId" type="xsd:string" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Nav brukerident for saksbehandler som
                                    registrerte saken
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="behNavEnhetId" type="xsd:string" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Nav orgnr. for den som skal behandle saken,
                                    f.eks 0412
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="bekreftelsesbrev" type="xsd:boolean" minOccurs="1" maxOccurs="1">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Angir om det skal det sendes et
                                    berkreftelsebrev til bruker
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="OpprettSakResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="saksid" type="xsd:string"/>
                        <xsd:element name="status" type="xsd:string"></xsd:element>
                        <xsd:element name="bekreftelsesbrevSendt" type="xsd:boolean"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="OpprettSakGenericException">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FaultInfotrygdGenerisk"
                                     type="tns:FaultInfotrygdBase" minOccurs="0">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="FaultInfotrygdBase">
                <xsd:sequence>
                    <xsd:element name="errorMessage" type="xsd:string"
                                 minOccurs="0">
                    </xsd:element>
                    <xsd:element name="errorSource" type="xsd:string"
                                 minOccurs="0">
                    </xsd:element>
                    <xsd:element name="errorType" type="xsd:string"
                                 minOccurs="0">
                    </xsd:element>
                    <xsd:element name="rootCause" type="xsd:string"
                                 minOccurs="0">
                    </xsd:element>
                    <xsd:element name="dateTimeStamp" type="xsd:string" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="OpprettSakUgyldigEnhetException">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FaultUgyldigEnhet"
                                     type="tns:FaultInfotrygdBase">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="OpprettSakRequest">
        <wsdl:part element="tns:OpprettSak" name="OpprettSak"/>
    </wsdl:message>
    <wsdl:message name="OpprettSakResponse">
        <wsdl:part element="tns:OpprettSakResponse" name="OpprettSakResponse"/>
    </wsdl:message>
    <wsdl:message name="OpprettSakGenericException">
        <wsdl:part name="OpprettSakGenericException"
                   element="tns:OpprettSakGenericException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="OpprettSakUgyldigEnhetException">
        <wsdl:part name="OpprettSakUgyldigEnhetException" element="tns:OpprettSakUgyldigEnhetException"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OpprettSak">
        <wsdl:operation name="OpprettSak">
            <wsdl:input message="tns:OpprettSakRequest" name="opprettSakRequest"/>
            <wsdl:output message="tns:OpprettSakResponse" name="opprettSakResponse"/>
            <wsdl:fault name="faultInfotrygdGenerisk" message="tns:OpprettSakGenericException"></wsdl:fault>
            <wsdl:fault name="faultUgyldigEnhet" message="tns:OpprettSakUgyldigEnhetException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OpprettSakSOAP" type="tns:OpprettSak">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="OpprettSak">
            <soap:operation soapAction="http://nav.no/infotrygd/sb/opprettSak/NewOperation"/>
            <wsdl:input name="opprettSakRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="opprettSakResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OpprettSak">
        <wsdl:port binding="tns:OpprettSakSOAP" name="OpprettSakSOAP">
            <soap:address location="http://localhost:9080/opprettSak/services/OpprettSakSOAP"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
